.page {
  height: calc(100vh);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background: #f7f7f7;
  font-family: sans-serif, "Microsoft YaHei";
}

.layout-header {
  color: #ffffff;
  font-size: 23px;
  font-weight: 800;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #303136;
  /*-webkit-box-shadow: 0 2px 2px 0 #000;*/
  /*box-shadow: 0 2px 2px 0 #000;*/
}
